# *Python*
    > _Originally Contributed by [mihinduranasinghe](https://github.com/mihinduranasinghe)_

    > Python is a simple,general purpose,high level & object-oriented programming language.
    
    > In Python it is not required to tell the data type when a variable is declared.Python intepreter does it itself.

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github.com/Rishit-dagli/Python3-by-practice/blob/master/Machine%20Learning/sklearn%20examples/Logistic%20Regression/Logistic%20Regression.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/Rishit-dagli/Python3-by-practice/blob/master/Machine%20Learning/sklearn%20examples/Logistic%20Regression/Logistic%20Regression.ipynb"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />View source on GitHub</a>
  </td>
</table>

In [12]:
x=5 #assigning an integer
y=4.2 #assigning a floating value
z="test" #assigning a string

print(type(x)) #test type of x and print
print(type(z))

<class 'int'>
<class 'str'>

### Multiple Assignment

In [10]:
x=y=z=12
print(x)
print(y)

12
12

In [11]:
x,y,z=2,5.6,'dinal'
print(x)
print(z) #the values will be assigned in the order in which variables appear

2
dinal

## Types of prints

In [13]:
x=1
y=2.3
z="tom"

print(x)#print one by one with a new line
print(y)
print(x,y,z)#print in the same line with a space
print("x=",x)#multiple data prints autoseparetd with a space.No type casting required
print("x="+str(x))#string concatanation .all should be strings.if not then cast
print("x="+ z)#no casting is required,cz z is a string
print("x=%d y=%f z=%s"%(x,y,z))#acces variables and replace in message

1
2.3
1 2.3 tom
x= 1
x=1
x=tom
x=1 y=2.300000 z=tom

### Example:

In [19]:
name="dinal"
age=19
weight=45.6
address="102,Dandugama,Ja-ela"

print("name:"+name)
print("age:"+str(age))
print("name=%s,age=%d,weight=%.2f,address=%s"%(name,age,weight,address))

name:dinal
age:19
name=dinal,age=19,weight=45.60,address=102,Dandugama,Ja-ela

## Input Taking

In [22]:
name=input("enter a name:")#all inputs will be taken as strings
age=int(input("enter a age:"))# we casted to int ,since an age should be an int
weight=float(input("enter a weight:"))

print("User details")
print("name:"+name)
print("age:"+str(age))
print("weight:"+str(weight))

enter a name:mahesh
enter a age:19
enter a weight:56.4
User details
name:mahesh
age:19
weight:56.4

##### Exercise 1:
Build a programme to get vehicle registration data from a user and show him/her the entered data.get following data.
1. vehicle type: (motor bike/car/van/etc..)
2. manufactured year
3. chassis number
4. engine number
5. max number of passengers
6. regisration plate number

## Python Operators

    A symbol that performs an operation on one or more operands.
    
        1. Arithmetic Operators
        2. Assignment Operators
        3. Relational Operators
        4. Logical Operators
        5. Bitwise Operators
        6. Identity Operators
        7. Membership Operators

## 1. *Arithmetic  Operators*
    
    Takes two operands and perform a calculation on them.

In [24]:
x=int(input("enter number 1:"))
y=int(input("enter number 2:"))

print(x+y) #addition
print(x-y) #subtraction
print(x*y) #multiplication
print(x/y) #division
print(x**y)#power up
print(x//y)#floor division(rounding off to the nearest least integer)
print(x%y) #brings a remainder

enter number 1:6
enter number 2:5
11
1
30
1.2
7776
1
1

## 2. *Assignment Operators*

    Assigned from right side to left side.

In [26]:
x=4
x+1

5

In [27]:
x=x+3
x-5

2

In [30]:
x=2
x=x**3
x/4

2.0

In [31]:
x=3
x+=2
x*8 #(x+=2) acts like (x=x+2)

40

In [32]:
x=5
x*=3
x/3 #(x*=3) acts like (x=x*3)

5.0

## 3.*Relational Operators*

    >Check whether the given relationship is there.
    
    >Returns True or False accordingly.
    
    ~ x==12 # is x is equal to 12??
    ~ x<13 # is x is less than 13??if YES so True should be returned
    ~ x>15 #larger??
    ~ x>=153 #larger or equal??
    ~ x!=3 # is x is not equal to 3??

In [ ]:
#conditions--->as gate passes to the neighbour block

(x<2){#in a language like c the condiion (x<2) lets the compiler to get in to the block if True

}
#-------------------
(x<2): #python block
    jump# the front indent is the most important
    run
    sleep
#-------------------------------------
run #out of the block.See the indent is removed
sit
#------------------
(x>4):#decide whether to get in to the block or not??
    run#one indent
    sit
    sleep
    (x<20):#nested block 
        jump#indent is double,statement of child block
        sit
        sleep
    sleep#statement of mother block
jump#statement out of mother block

## Decision Making

    1. if
    2. if-else
    3. if-elif

In [37]:
#condition -->has 2 sides :True or False
#if --->to take a decision on one side of a condition

x=12
if(x>10):#enters to the block if this is True.what if this False??nothing is done
    print("x is over 10")

x is over 10

In [38]:
#if-else--->to take decisions on both sides of a condition
    
x=7
if(x>10):#enters to the block if this is True
    print("x is over 10")
else:#enters if the condition is False
    print("x is under 10")

x is under 10

In [1]:
#if-elif--->to take decisions on multiple conditions
    
x=7
if(x==1):#enters to the block if this is True
    print("x is one")
elif(x==2):#enters to the block if above is False but this is True
    print("x is two")
elif(x==3):#enters to the block if above is False but this is True
    print("x is three")
else:#enters if nothing above is correct (optional)
    print("no match")

no match

### Sample project-to check for even and odd numbers

In [41]:
number=int(input("eneter a number:"))
if ((number%2)==0):#checks the remainder deviding by 2
    print("number is even")
else:
    print("number is odd")

eneter a number:5
number is odd

### Sample project-to find the max out of 2 numbers

In [43]:
number1=int(input("eneter a number 1:"))
number2=int(input("eneter a number 2:"))

if(number1>number2):
    print("max:",number1)
elif(number2>number1):#cant use else,cz 2 numbers can be same
    print("max:",number2)

eneter a number 1:9
eneter a number 2:2
max: 9

### 4 .logical operators: Sample project-to find the max out of 3 numbers

In [45]:
number1=int(input("eneter a number 1:"))
number2=int(input("eneter a number 2:"))
number3=int(input("eneter a number 3:"))
#using logical operators
##and -->AND gate
##or-->OR gate
##not -->NOT gate

if((number1>number2)and (number1>number3)):#two sub condtions are ANDed
    print("max:",number1)
elif((number2>number1)and (number2>number3)):#two sub condtions are ANDed
    print("max:",number2)
else:
    print("max:",number3)

eneter a number 1:4
eneter a number 2:9
eneter a number 3:2
max: 9

##### Exercise 2:
Improve the above programme to find the max out of three given numbers,BUT yiu can only use single 'if' conditions.Only 2 'if' can be used.

## 5. *Bitwise Operators*

    &  -and
    |  -or
    !  -not
    >> -right shift
    << -left shift
    ~  -xor

In [6]:
a = 10#1010
b = 4#0100
    
# Print bitwise AND operation    
print("a & b =", a & b)  
    
# Print bitwise OR operation  
print("a | b =", a | b)  
    
# Print bitwise NOT operation   
print("~a =", ~a)  
    
# print bitwise XOR operation   
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [7]:
#a = 5 = 0000 0101
#b = -10 = 1111 0110

#a << 1 = 0000 1010 = 10
#a << 2 = 0001 0100 = 20 

#b << 1 = 0000 1010 = -20
#b << 2 = 0001 0100 = -40

In [8]:
# shift operators 
  
a = 10
b = -10
  
# print bitwise right shift operator 
print("a >> 1 =", a >> 1) 
print("b >> 1 =", b >> 1) 
  
a = 5
b = -10
  
# print bitwise left shift operator 
print("a << 1 =", a << 1) 
print("b << 1 =", b << 1)

a >> 1 = 5
b >> 1 = -5
a << 1 = 10
b << 1 = -20

### 6. Identity Operators
< is<br>
< is not

In [ ]:
x=2
y=2.0
print (x==y)# are x and y equal in value?
print (x is y)# are x and y identical?

# *Five types of data structures.*

    1. Numbers
    2. Strings
    3. Lists
    4. Tuples
    5. Dictionaries

# 1. Numbers

    Real numbers & complex numbers both can be included.

In [50]:
z=(3+5j)
type(z)

complex

In [51]:
z.real #brings the real part of z

3.0

In [52]:
z.imag #brings the imaginary part of z

5.0

In [53]:
p=complex(2,6) #real numbers can be converted to complex numbers
p

(2+6j)

In [54]:
p=complex(3)
p

(3+0j)

# 2. Strings

    we can type strings by using ''or""
    we can make a paragraph by using''' ''' or """  """

### String Indexing Operators

    1. Forward indexing

In [57]:
x="kingdom"
x[0] # forward indexing no of 1st letter is 0

'k'

In [58]:
x[1]

'i'

In [59]:
x[6]

'm'

### *Indexing Operators*

     2. Backward indexing

In [61]:
x[-1] #backward indexing no of last letter is -1

'm'

In [62]:
x[-2]

'o'

### *Slicing Operators*
    we can separate needed indexing.A substring will be returned

In [64]:
x="kingdom"
x[0:4]

'king'

In [65]:
x[ :3]

'kin'

In [66]:
x[ : ]

'kingdom'

In [67]:
x[ ::2] #when we add two colons it changes the step size.
        #step size=2

'kndm'

## String built in operators

In [69]:
x="tom"
p=x+"jerry" #string concatanation by using +
p

'tomjerry'

In [70]:
p=x*2 #multipile the string by using *
p

'tomtom'

## Python built in functions for strings

### 1. len

    count the items in the functions.

In [73]:
x="kingdom"
len(x)

7

### 2. del
     delete the objects in heap.
     
### RAM
    memory allocations is done in two aspects
    1. stack
        >is used for static memory allocation
    2. heap
        >is used for dynamic memory allocation

In [75]:
del(x)
x #check whether the x is deleted.

NameError: name 'x' is not defined

#### Mutable and Immutable Objects
Mutable ->item assignemnt(updating) can be done<br>
Immutable -> item assignment can not be done<br>

##### Exercise 3:
check whether the Strings are Mutable or Immutable.

## String built in functions

All string functions returns new values. They do not change the original string.

In [77]:
name="colombo"
name.capitalize() #capitalize the 1st letter

'Colombo'

In [78]:
name.count("o") #count the charactor we want

3

In [79]:
name.index("m") #check the index

4

In [80]:
name.isalpha() #Returns True if all characters in the string are in the alphabet

True

In [81]:
name.isnumeric() 
name.isdigit() #check whether all items are numbers

False

In [82]:
name.isalnum()#check whether items are letters or numbers

True

In [83]:
name.isupper()#check whether all are capitals

False

In [84]:
name.upper()# return a copy of string converted to uppercase

'COLOMBO'

In [85]:
name.startswith("c")#check the 1st letter

True

**other string functions will be explained in weekly tutorials**

# 3. Lists
    
    strings,complex numbers & real numbers can be included in one place.
    
    use [] to represent a list.
    
    muttable.

In [87]:
list1=[1.2,'tom',3,(2+5j)]
list1

[1.2, 'tom', 3, (2+5j)]

In [88]:
list1[0]#we can use indexing operators

1.2

In [89]:
list1[ :3]#we can use slicing operators

[1.2, 'tom', 3]

In [90]:
del(list1[0])#can be done item deletion(muttable)
list1

['tom', 3, (2+5j)]

## List built in Functions

In [91]:
list1.append("jerry")#add one item to the end
list1

['tom', 3, (2+5j), 'jerry']

In [92]:
list2=list1.copy()#get a shallow copy of list
list2

['tom', 3, (2+5j), 'jerry']

In [93]:
list1.clear()#clear the objects in the list
list1

[]

In [94]:
list2.count(3)#count the item we want

1

In [95]:
list2.insert(2,"peter")#object is come to the index
list2

['tom', 3, 'peter', (2+5j), 'jerry']

In [96]:
list2.pop()#return the items from the end & remove them from list

'jerry'

In [97]:
list2

['tom', 3, 'peter', (2+5j)]

In [98]:
list2.pop(2)#when we add a index,return the object and remove it from list

'peter'

In [99]:
list2

['tom', 3, (2+5j)]

In [100]:
list2.remove(3)#remove item we want
list2

['tom', (2+5j)]

In [101]:
list3=[85,91,28,19]
list3.sort()#sort the list(for numerical lists)
list3

[19, 28, 85, 91]

In [102]:
list3.reverse()#reverse the order
list3

[91, 85, 28, 19]

## List operations

In [103]:
list4=list3+['tom',2.5,'dog']#lists can be concatanated
list4

[91, 85, 28, 19, 'tom', 2.5, 'dog']

In [104]:
list3=list3*2
list3

[91, 85, 28, 19, 91, 85, 28, 19]

## List miscellaneous

In [105]:
list1=[]#empty list
print(list1)

[]

In [12]:
String1="hello world"
list1=list(String1)
list1

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [14]:
list1=[1,2,3,4]
string1=str(list1)
string1

'[1, 2, 3, 4]'

In [106]:
data1="1,2,3,4,5"
data1.split(',')#make strings with ,

['1', '2', '3', '4', '5']

In [107]:
data2=" 1,2,3,4 "
data2.strip()#remove the spaces in begin & end

'1,2,3,4'

**other List functions will be explained in weekly tutorials**

# 4. Tuples 
    
    secured details are inserted.
    
    use () to present a tuple.
    
    item assignments can't be done (immuttable).

##### Exercise 4:
Make your own tuple and perform the indexing and slicing operations.

## Tuple built in functions

In [109]:
tp1=(12,13,14,15,14)
tp1.count(14)#count the item we want

2

In [110]:
tp1.index(13)#return the index

1

#### what if a tuple has to be treated as a mutable ?

In [111]:
list1=list(tp1)#we can do item assignments in tuples by casting it to lists
list1[1]=3
tp1=tuple(list1)
tp1

(12, 3, 14, 15, 14)

## Nested Data Storages

    1. [ [],[],[] ]
    2. [ (),(),() ]
    3. ( [],[],[] )
    4. ( (),(),() )

In [113]:
data1=[[1,2,3],
       [4,5,6],
       [7,8,9],
       [10,11,12]]
data1[0][1]#[row no][colomn no]

2

# 5. Dictionaries

    we can use convinient indexing names.
    
    use {} to present a dictionary.
    
    keys & values are there for items.
    
    muttable.
    
    Concatenation  & multiplying can't be done

In [115]:
dic1={"name":"tom","age":19,2:220}
dic1["name"]#brings the value of key

'tom'

In [116]:
len(dic1)

3

## Dictionary built in functions

In [117]:
dic1.get(2)#returns the value of key

220

In [118]:
dic1.keys()#returns all keys

dict_keys(['name', 'age', 2])

In [119]:
type(dic1.keys())

dict_keys

In [120]:
dic1.values()#returns all values

dict_values(['tom', 19, 220])

In [121]:
type(dic1.values())

dict_values

In [122]:
dic1.items()#returns both key & value

dict_items([('name', 'tom'), ('age', 19), (2, 220)])

In [123]:
dic2=dic1.copy()#get a shallow copy of dictionary
dic2

{'name': 'tom', 'age': 19, 2: 220}

In [124]:
dic1.clear()
dic1

{}

In [125]:
dic2.setdefault('gender')#we can add new keys to the end
dic2

{'name': 'tom', 'age': 19, 2: 220, 'gender': None}

In [126]:
dic2.setdefault('gender','male')#but we can't add same key again
dic2

{'name': 'tom', 'age': 19, 2: 220, 'gender': None}

In [127]:
dic2.setdefault('mobile','0987652345')
dic2

{'name': 'tom', 'age': 19, 2: 220, 'gender': None, 'mobile': '0987652345'}

In [128]:
dic2.pop(2)#return the value of the key & remove them from dictionary

220

In [129]:
dic2

{'name': 'tom', 'age': 19, 'gender': None, 'mobile': '0987652345'}

In [130]:
dic2.popitem()#return the items from the end & remove them

('mobile', '0987652345')

In [131]:
dic2

{'name': 'tom', 'age': 19, 'gender': None}

In [132]:
dic2.update({2:200,'weight':50.6})#concatanate the data to the end
dic2

{'name': 'tom', 'age': 19, 'gender': None, 2: 200, 'weight': 50.6}

# *Loops*

    1. While loop
    2. For loop

### 1. While loop

In [135]:
i=1 #loop variable
while(i<=8): #decide the destination(condition)
    print("hello",i)
    i+=1 #carrier

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8

In [136]:
#printing numbers
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

##### Exercise 5
Separate the integers  from a given starting value to an ending value as even and odd numbers to two separate lists.

In [138]:
#perform a decision making at the end of the loop
i=1
while(i<=12):
    print("12x%d=%d"%(i,12*i))
    i+=1
else:
    print("end of the table")

12x1=12
12x2=24
12x3=36
12x4=48
12x5=60
12x6=72
12x7=84
12x8=96
12x9=108
12x10=120
12x11=132
12x12=144
end of the table

## Python Operators continued

    7. Membership Operators
    check whether the item is a member or not.
        1. in
        
        2. not in

In [2]:
12 in [11,12,13,14]

True

In [3]:
"y" not in ['p','q','r']

True

### 2. For loop

In [5]:
#iterating through a list
fruits=["apple","mango","orange","grapes"]#list are iterable objects in default
for fruit in fruits:
    print("i love eating",fruit)

i love eating apple
i love eating mango
i love eating orange
i love eating grapes

In [6]:
#iterating through a tuple
data=('tom',19,'male')
for x in data:
    print(x)

tom
19
male

In [7]:
#iterating through a dictionary

data={'name':'tom','age':19,'gender':'male'}
for x in data:
    print(x,"=",data[x])

name = tom
age = 19
gender = male
tom
19
male
('name', 'tom')
('age', 19)
('gender', 'male')
name tom
age 19
gender male
end of the table

In [ ]:
for y in data.values():
    print(y)

In [ ]:
for z in data.items():
    print(z)

In [ ]:
for k,v in data.items():
    print(k,v)
else:
    print("end of the table")

In [8]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [10]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [11]:
#see how simple it is to find the even numbers
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

##### Exercise 6
Get five integers from the user at once.

In [13]:
#nested loops
for i in range(2,13):
    for j in range(1,13):
        print(i,"x",j,"=",i*j)
    print(" ")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [ ]:
#sample code with loops,Lists and Dictionaries for student data insertion
students=[]
for i in range(3):
    print("enter details for student",i+1)
    data={'name':input("enter name:"),
    'age':int(input("enter age:")),
    'gender':input("enter gender:")}
    students.append(data)
print(students)

enter details for student 1

### Loop Commands
    
    1. Break
        >stop a loop enforcely
    2. Continue
        >skip the repetition(only for for loops)
    3. Pass
        >pass the block

In [4]:
for i in range(10):
    if(i==7):
        break
    print(i)

0
1
2
3
4
5
6

In [5]:
i=1
while(i<=8):
    if(i==5):
        break
    print(i)
    i+=1

1
2
3
4

In [6]:
for i in range(11):
    if(i==5):
        continue #skip 5
    print(i)

0
1
2
3
4
6
7
8
9
10

In [7]:
def fill():
    pass

print("hello")

hello

# Functions

    >we use functions to devide a main task into subtasks.
    
    >a subtask will be done by the function.
    
    >advantage:we can reuse the same code by calling correspoding function.

## *Main Function Prototypes*

    1. has parameters,has return
    2. has parameters,no return
    3. no parameters,has return
    4. no parameters,no return

In [10]:
def add(x,y):#has parameters,has return 
    sum=x+y
    return sum

print(add(3,7))# the output value from function is sent to the same place we call the function

10

In [11]:
def add(x,y):#has parameters,no return
    sum=x+y
    print(sum)

add(3,7)

10

In [12]:
def add():#no parameters,has return
    sum=3+7
    return sum
print(add())

10

In [13]:
def add():#no parameters,no return
    sum=3+7
    print(sum)
add()

10

In [14]:
def add():#no parameters,no return
    sum=3+7
    print(sum)
add()

10

In [15]:
def inputDetails():
    name=input("enter a name:")
    age=int(input("enter a age:"))
    gender=input("enter gender:")
    return name,age,gender

print(inputDetails())

enter a name:dinal
enter a age:19
enter gender:male
('dinal', 19, 'male')

In [16]:
def power(x):
    number=int(input("enter a number:"))
    answer=number**x
    print(answer)
    
power(2)

enter a number:3
9

## 1. Global Variables
    >visibility is for all functions
    
## 2. Local Variables
    >visibility is for the particular block
    
    
### Build up a software to find the total surface area & the total volume of cuboid.

In [18]:
def inputDetails():
    global length,width,height
    
    length=float(input("enter a length:"))
    width=float(input("enter a width:"))
    height=float(input("enter a height:"))

def calcArea():
    surfaceArea=2*((length*width)+(length*height)+(width*height))
    return surfaceArea
    
def calcVolume():
    volume=length*width*height
    return volume
    
inputDetails()
print("area=",calcArea())
print("volume=",calcVolume())

enter a length:9
enter a width:6
enter a height:3
area= 198.0
volume= 162.0

##### Exercise 7
Build up a programme to evaluate the arithmetic mean and geometric mean of the integrs in a given range by the user.insert and design the follwing functions
1. inputIntegers()
2. geometric mean()
3. arithmetic mean()

### A programm to find the class 1st student.

In [20]:
def inputMarks():
    global marks
    marks=[]
    for i in range (3):
        marks.append({input("subject %d:"%(i+1)):int(input('marks:'))})
def calcAvg(marks):
    #global avg
    avg=0
    for subject in marks:
        for mark in subject.values():
            avg=avg+mark
    avg/=3
    return avg

def setForMany(count):
    global students
    students=[]
    for i in range(count):
        inputMarks()
        students.append(marks.copy())
        marks.clear()
    
        
def setClassFirst():
    Max=calcAvg(students[0])
    for i in range(len(students)):
        avg=calcAvg(students[i])
        if (Max<=avg):
            Max=avg
            classFirst=i+1

    return classFirst,Max
     
setForMany(3)
classFirst,Max=setClassFirst()
print("class first:Student",classFirst,"avarage:",Max)

subject 1:com.maths
marks:94
subject 2:physics
marks:87
subject 3:chemistry
marks:70
subject 1:com.maths
marks:67
subject 2:physics
marks:54
subject 3:ict
marks:82
subject 1:com.maths
marks:34
subject 2:physics
marks:46
subject 3:chemistry
marks:65
class first:Student 1 avarage: 83.66666666666667

## Types of Arguments & Parameters

    1. Positional arguments
    2. Keyword arguments
    3. Default parameters
    4. Variable length arguments

### 1. *Positional Arguments*

    we have to pass the arguments in parameters' order

In [23]:
def Print(name,age):
    print("name:",name)
    print("age:",age)
Print('tom',19)

name: tom
age: 19

### 2. *Keyword Arguments*

    >no need to pass the arguments in order
    
    >but we should pass them with their parameter name
    
    >then they return them in parameter order

In [25]:
def Print(name,age,mobile):
    print("name:",name)
    print("age:",age)
    print("mobile:",mobile)
Print(mobile=234567890,name='tom',age=19)

name: tom
age: 19
mobile: 234567890

In [26]:
def Print(name,age,mobile):
    print("name:",name)
    print("age:",age)
    print("mobile:",mobile)
    
Print('tom',mobile=3456789,age=19)#when both are in, positional arguments are the 1st

name: tom
age: 19
mobile: 3456789

### 3. *Default Parameters*

    >we can change the argument
    
    >we should give the changable argument with parameter name

In [28]:
def Print(name,age=25,mobile=23456785678):
    print("name:",name)
    print("age:",age)
    print("mobile:",mobile)

Print('tom',mobile=9876544443,age=19)#non-default arguments are the 1st

name: tom
age: 19
mobile: 9876544443

### 4. *Variable length Arguments*

    >when we handover a one argument,parameter takeover it
    
    >if we handover many arguments,parameter also takeover them

In [30]:
def Print(*x):
    for i in x:
        print(i)
Print(3)

3

In [31]:
def Print(*x):
    for i in x:
        print(i)
Print(2,3,4)

2
3
4

**more examples and exercises will come in weekly tutorials**

## Lambda Functions

    >a small anonymous function
    
    >the parameters will be processed according to the rule that the lambda function is about
    
    >everytime variable name is a function object
    
    >we should give all commands in one line

In [33]:
rule1=lambda x,y:x+y
type(rule1) #variable name is a function object

function

In [34]:
print(rule1(4,6))

10

In [35]:
print(rule1(rule1(4,5),7))

16

In [36]:
rule2=lambda x:x-3
print(rule2(9))

6

In [37]:
rule3=lambda a,b:a*b
print(rule3(3,7))

21

In [38]:
def myFunc(n):
    return lambda x:x*n
mydoubler=myFunc(5)
print(mydoubler(2))

10

In [39]:
def myFunc(n):
    return lambda x:x*n
mydoubler=myFunc(8)
mytripler=myFunc(4)
print(mydoubler(2))
print(mytripler(3))

16
12

In [40]:
def Process(rule,data):
    answer=rule(data)
    print('answer from the rule:',answer)
    return lambda x:x**answer
squarer=lambda numbers:numbers[0]**numbers[1]
rule2=Process(squarer,[2,3])
rule2(2)

answer from the rule: 8

256

**more examples and exercises will come in weekly tutorials**

## Lambdas in filter()

    select some particular elements from a sequence of elements

In [47]:
list1=[10,3,4,2,5,7,8,9]
result=filter(lambda x:x>6,list1)# lambda function runs on each element of the list
print(list(result))

[10, 7, 8, 9]

## Lambdas in map()

    apply a particular operation to every elements in a sequence

In [49]:
list1=[10,3,4,2,5,7,8,9]
result=map(lambda x:x*x,list1)
print(list(result))

[100, 9, 16, 4, 25, 49, 64, 81]

## Lambdas in reduce()

    like map(),but differs from working
    
    steps;
        1. performed the given operation on the first two elements in a sequence
        2. save this result
        3. performed the operation with saved result & next element
        4. repeat until no more elements are left

In [51]:
from functools import reduce 
list1=[2,3,4,5,6,1,0]
result=reduce(lambda x,y:x+y,list1)
print(result)

21

## Object Oriented Programming(OOP)

    >a programming paradigm which provides a means to structuring programms
    
    >so that properties & behaviours are bundled into individual objects
    
    1. CLASS:
        class are used to create new user-defined sturctures that contains information about something
        
    2. OBJECTS(INSTANCES):
        a copy of the class that contains variables
        
        >>Instantation:
          create a copy of the class in heap.
        >>Declaration:
          give a name for created copy.
        >>Initialization:
          fill the copy that we created.

### Constructor

    >> creates the object at the heap
    
    >>if we don't add a constructor python automatically add it
      (default constructor-no need to add parameters)

In [54]:
class Dog:
    def fill(self,name,kind):
        self.name=name
        self.kind=kind
    def bark(self):
        print("baw baw baw owwwwww")
        print("i am",self.name,".i am a",self.kind,".bow bow")
        
d1=Dog()# calling constructor
d1.fill("alpha","retriever")
d1.bark()

baw baw baw owwwwww
i am alpha .i am a retriever .bow bow

In [56]:
class Student:
    def fill(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def talk(self):
        print("hello i am",self.name,".i am",self.age,"years old.")

s1=Student()
s1.fill('dinal',19,'male')
s1.talk()

hello i am dinal .i am 19 years old.

In [57]:
class Cuboid:
    def fill(self,length,width,height):
        self.length=length
        self.width=width
        self.height=height
    def calcArea(self):
        print("surface area=",2*((self.length*self.width)+(self.length*self.height)+(self.width*self.height)))
    def calcVolume(self):
        print("total volume=",self.length*self.height*self.width)

c1=Cuboid()
c1.fill(2,3,4)
c1.calcArea()
c1.calcVolume()

surface area= 52
total volume= 24

In [1]:
class Cuboid:
    def fill(self,length,width,height):
        self.length=length
        self.width=width
        self.height=height
    def calcArea(self):
        area=2*((self.length*self.width)+(self.length*self.height)+(self.width*self.height))
        return area
    def calcVolume(self):
        volume=self.length*self.height*self.width
        return volume 

inputs=[input("enter length,width,height") for i in range(3)]
cuboids=[]
for set in inputs:
    rec=[]
    for x in set.split():
        x=float(x)
        rec.append(x)
    c1=Cuboid()
    c1.fill(rec[0],rec[1],rec[2])
    cuboids.append(c1)
for cuboid in cuboids:
    print('surface area=',cuboid.calcArea(),'total volume=',cuboid.calcVolume())

enter length,width,height3 4 5
enter length,width,height6 7 8
enter length,width,height9 10 3
surface area= 94.0 total volume= 60.0
surface area= 292.0 total volume= 336.0
surface area= 294.0 total volume= 270.0

## Parameterized Constructor

    Syntax:
        def __init__(self,parameters):

In [3]:
class Person:
    def __init__(self): #default constructor
        print("hello")
p1=Person()

hello

In [4]:
class Person:
    def __init__(self):# last constructor is executed
        print("hello")
    def __init__(self,name,age): #parameterized constructor
        self.name=name
        self.age=age
    def talk(self):
        print("hello i am",self.name,".i am",self.age,"years old.")
p1=Person("roy",19)
p1.talk()

hello i am roy .i am 19 years old.

In [5]:
class Student:
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade
    def setName(self,name):#arguments can be changed easily
        self.name=name
    def talk(self):
        print("hello i am",self.name,".i am in grade",self.grade)
s1=Student("mahesh",10)
s1.setName("dinal")
s1.talk()

hello i am dinal .i am in grade 10

## Object Object Relatonships

    1. Aggregation -(has a)
    2. Inheritance -(is a)

### 1. *Aggregation*

In [8]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=Person("mahesh",19)

class Vehicle:
    def __init__(self,Type,brand,color,owner):
        self.Type=Type
        self.brand=brand
        self.color=color
        self.owner=owner
    def talk(self):
        print("hello i am a",self.color,self.brand,self.Type,".my owner is",self.owner.name)
v1=Vehicle('car','toyota','black',p1)
v1.talk()

hello i am a black toyota car .my owner is mahesh

### 2. *Inheritance*

    there is a father class & a child class
    
    when we make a object by a child class,each one have a father object
    
    but when we make a object by a father class,it haven't a child class

In [10]:
class A:
    def __init__(self,x):
        self.x=x
    def Print(self):
        print("x=",self.x)
class B(A):#B class is the child class of A father class
    def __init__(self,x,y,z):
        A.__init__(self,x) #(or super().__init__(self))
        self.y=y
        self.z=z
a1=A(10)
b1=B(3,4,5)
b1.Print()

x= 3

### Code Explanation

    >a1 isn't the father object of b1
    
    >but b1 has a father object at the heap
    
    >b1 is included by all the commands in A class & B class

## Example:

In [13]:
class Address:
    def __init__(self,homeNo,village,town):
        self.homeNo=homeNo
        self.village=village
        self.town=town
    def Print(self):
        print("address:",self.homeNo,self.village,self.town)
class Person:
    def __init__(self,name,age,gender,address):
        self.name=name
        self.age=age
        self.gender=gender
        self.address=address
    def Print(self):
        print("name:",self.name,"age:",self.age,"gender:",self.gender)
        self.address.Print() #aggregation
class Employee(Person):
    def __init__(self,name,age,gender,address,company,salary):
        super().__init__(name,age,gender,address) #inheritance
        self.company=company
        self.salary=salary
    def Print(self):
        super().Print()
        print("company:",self.company,"salary:",self.salary)
a1=Address(102,"Yakkala","Gampaha")
e1=Employee("dinal",19,"male",a1,"ABCD",63000)
e1.Print()

name: dinal age: 19 gender: male
address: 102 Yakkala Gampaha
company: ABCD salary: 63000

## Python In-built class functions

    1. getattr
        >access the attribute of the object
        
        >syntax: getattr(object,name)
        
    2. setattr
        >set a particular value to the specific attribute of an object
        
        >syntax: setattr(object,name,value)
        
    3. delattr
        >delete a specific attribute
        
        >syntax: delattr(object,name)
        
    4. hasattr
        >returns True if the object contains some specific attribute
        
        >syntax: hasattr(object,name)

In [16]:
class Person:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
p1=Person('dinal',19,'male')

print(getattr(p1,'name')) #prints the attribute name of p1

setattr(p1,'age',28) #reset the value of attribute age to 28

print(getattr(p1,'age')) #prints the modified value of age

print(hasattr(p1,'gender')) #prints True if p1 has attribute gender

delattr(p1,'age') #delete the attribute age

print(hasattr(p1,'age')) #check whether attribute age is deleted

dinal
28
True
False

## Python in-built class attributes

In [18]:
class Student:
    'this is a Student class'
    def __init__(self,name,age,mobile):
        self.name=name
        self.age=age
        self.mobile=mobile
s1=Student('mahesh',19,54637829)

print(Student.__doc__ )#returns a documantary of the class

this is a Student class

In [19]:
print(Student.__dict__ )#returns a dictionary which contains information about the class namespace

{'__module__': '__main__', '__doc__': 'this is a Student class', '__init__': <function Student.__init__ at 0x000000F9A955F558>, '__dict__': <attribute '__dict__' of 'Student' objects>, '__weakref__': <attribute '__weakref__' of 'Student' objects>}

In [20]:
print(s1.__dict__)

{'name': 'mahesh', 'age': 19, 'mobile': 54637829}

In [23]:
print(Student.__name__) #returns the class name

Student

In [22]:
print(Student.__module__) #returns the module

__main__

In [24]:
print(Student.__base__) #if the class has a father class returns its' name

<class 'object'>

### The issubclass(sub,sup) method

In [26]:
class A:
    pass
class B(A):
    pass
b=B()
issubclass(B,A) #check whether the given 1st class is a sub class of 2nd class

True

### The isinstance(obj,class) method

In [28]:
isinstance(b,B) #check whether the 1st one is the instance of 2nd one

True

In [29]:
isinstance(b,A)

True

### Data Abstraction

    >>data hiding(syntax:__variable)

In [32]:
class A:
    __x=15
    def Print(self):
        print('x=',A.__x)
class B:
    pass 
a=A()
a.Print()
A.__x#now the x is hidden at the A class,so we can call x only at the A class

x= 15

AttributeError: type object 'A' has no attribute '__x'